{% extends 'rango/base.html' %}
{% block body_block %}

<div class="jumbotron p-4">
  <div class="container">
    <h1 class='jumbotron-heading'>Register Here</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="form-page">
  <form role='form' action="." method="post">
    {% csrf_token %}
    <div class="form-group">
    <p class='required'><label class='required' for="id_username">Username: </label>
      <input class='form-control' id='id_username' maxlength='30' type="text" name="username">
      <span class='helptext'>
        Required. 30 Characters or fewer. Letters, digits and @/./+/-/_ only.
      </span>
    </p>
    <p class='required'><label class='required' for="id_email">E-mail:</label>
      <input class='form-control' id='id_email' type="email" name="email">
    </p>
    <p class='required'><label class='required' for="id_password1">Password:</label>
      <input class='form-control' id='id_password1' type="password" name="password1">
    </p>
    <p class='required'><label class='required' for="id_password2">Password confirmation:</label>
      <input class='form-control' id='id_password2' type="password" name="password2">
      <span class='helptext'>
        Enter the same password as before, for verification
      </span>
    </p>
    </div>
    <button type="submit" class='btn btn-primary'>Submit</button>
  </form>
    </div>
  </div>
</div>
{% endblock %}
