<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <div>
      {% if category %}
      <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
          {% for page in pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <a href="{% url 'add_page' category.slug %}">Add Page</a> <br />
          <a href="{% url 'index' %}">Go back to index page</a> <br />
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong> <br>
        <a href="{% url 'add_page' category.slug %}">Add Page</a> <br />
        <a href="{% url 'index' %}">Go back to index page</a> <br />
        {% endif %}
      {% else %}
      The specified category does not exist!
      <a href="{% url 'index' %}">Go back to index page</a> <br />
      {% endif %}
    </div>
  </body>
</html>
