{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ caetegory.name }}
{% endblock %}

{% block body_block %}
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  <div class="card mb-6">
  <div class="card-body">
      {% if category %}
        <h1 class=”jumbotron-heading”>{{ category.name }}</h1>
        {% if pages %}
        <ul class='list-group'>
          {% for page in pages %}
          <li class='list-group-item'><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong> <br>
        <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
        {% endif %}
      {% else %}
      The specified category does not exist!
      {% endif %}
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}
