{% extends 'rango/base.html' %}
{%load staticfiles %}


{% block body_block %}
    <div class="jumbotron p-4">
      <div class="container">
        <img src="{% static 'images/Rango_logo.png' %}"
        width="234"
        height="111"
        alt="Rango">
      </div>
    </div>

    <div class="container">
    <div class="row">

    <div class="col-md-6">
    <div class="card mb-6">
    <div class="card-body">
      <h3>Most Liked Categories</h3>
      <p class="card-text">
        {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                  <a href="{% url 'rango:show_category' category.slug %}">{{category.name}}</a>
                  ({{ category.likes }} likes)
                </li>
            {% endfor %}
        </ul>
        {% else %}
          <strong>There are no categories present.</strong>
        {% endif %}
      </p>
    </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="card mb-6">
    <div class="card-body">
      <h3>Most Viewed Pages</h3>
      <p class="card-text">
        {% if pages %}
          <ul class="list-group">
            {% for page in pages %}
                <li class="list-group-item">
                  <a href="{{ page.url }}">{{ page.title }}</a>
                  ({{ page.views }} views)
                </li>
            {% endfor %}
          </ul>
        {% else %}
          <strong>There are no pages present.</strong>
        {% endif %}
      </p>
    </div>
    </div>
    </div>

    <div class="col-md-12">
      <p></p>
    </div>

    <div class="col-md-6">
    <div class="card mb-6">
    <div class="card-body">
      <h3>Rango</h3>
      <img src="{% static 'images/Rango2.jpg' %}"
        width="500"
        height="394"
        alt="Chameleon">
    </div>
    </div>
    </div>

    <div class="col-md-6">
    <div class="card mb-6">
    <div class="card-body">
      <h3>Rango Trailer</h3>
      <p class="card-text">
        <video width="500" height="281" controls>
          <source src="{% static 'videos/RangoTrailer.mp4' type='video/mp4' %}">
        </video>
      </p>
    </div>
    </div>
    </div>



    </div>
    </div>


{% endblock %}
